<input type="number" placeholder="Salario" [(ngModel)]="salario">

<select id="avaliacao1" [(ngModel)]="nota1" (change)= "onChange()"> <option [value] = "nota.porcentagem" *ngFor="let nota of notas1">{{nota.nota}}</option></select>
<select id="avaliacao2" [(ngModel)]="nota2" (change)= "onChange()"> <option [value] = "nota.porcentagem" *ngFor="let nota of notas2">{{nota.nota}}</option></select>
<select id="avaliacao3" [(ngModel)]="nota3" (change)= "onChange()"> <option [value] = "nota.porcentagem" *ngFor="let nota of notas3">{{nota.nota}}</option></select>
<select id="avaliacao4" [(ngModel)]="nota4" (change)= "onChange()"> <option [value] = "nota.porcentagem" *ngFor="let nota of notas4">{{nota.nota}}</option></select>

<label>{{resultado}}</label>